.button {
  width: max-content;
  padding: 12px 16px;
  display: flex;
  align-items: center;
  gap: 12px;
  border-radius: 8px;
  background: $brand-c;
  color: $primary-c;
  transition: background 0.3s ease-in-out;

  cursor: pointer;

  &:hover {
    background: $brand-hover-c;
  }

  &.reverse {
    flex-direction: row-reverse;
  }
  
  &.secondary {
    background: $secondary-bg;

    &:hover {
      background: $secondary-hover-bg;
    }
  }
  
  &.tertiary {
    background: transparent;

    &:hover {
      background: $secondary-hover-bg;
    }
  }
}
