// Accent
$brand-c: #6966ff;
$brand-hover-c: #6c83ff;
$red-c: #e45555;
$green-c: #16b57f;

// Background
$primary-bg: #1c1c28;
$secondary-bg: #393953;
$secondary-hover-bg: #4f4c64;

// Gradient
$brand-gr: linear-gradient(-36.089deg, #6966ff 0%, #6966ff5c 100%);
$grey-gr: linear-gradient(-166.475deg, #2c2c3d 0%, #1a1a27 100%);

// Text/Icon
$primary-c: #ffffff;
$secondary-c: #c8c7d8;
$tertiary-c: #a59eba;

//  Border
$border-c: linear-gradient(180deg, #ffffff 0%, #ffffff00 100%);
$border-hover-c: #393953;
