.header {
  padding: 24px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    background-color: $primary-bg;
    width: 120px;
  }
  
  nav {
    display: flex;
    gap: 12px;
  }
}
